// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  padding: 20px;
  font-size: 22px;
  font-family: 'Raleway'
}

.card {
  border-left: 8px solid #DDD;
  height: 72px;
  padding: 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: blue;
}

.answer {
  background-color: lightyellow
}

.sender {
  font-style: italic;
}
